{deps, [
	{columbo, ".*", {git, "https://github.com/jjmrocha/columbo.git", "master"}},
	{cclock, ".*", {git, "https://github.com/jjmrocha/cclock.git", "master"}},
	{event_broker, ".*", {git, "https://github.com/jjmrocha/event_broker.git", "master"}},
	{async, ".*", {git, "https://github.com/jjmrocha/async.git", "master"}}
]}.
